name: npm
on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 22
          cache: "npm"
      - run: corepack enable
      - run: npm ci
      - uses: JS-DevTools/npm-publish@v4.1.1
        with:
          token: ${{ secrets.NPM_TOKEN }}
